@keyframes ticket-done {
    from, 75% {
        transform: translate(0, 0);
        opacity: 1;
    }
    to {
        transform: translate(58.33px, 0);
        opacity: 0;
    }
}
@keyframes ticket-enter {
    from {
        transform: translate(0, -120px);
        opacity: 0;
    }
    25%, to {
        transform: translate(0, -78px);
        opacity: 1;
    }
}
@keyframes ticket-move-down-11 {
    from, 9% {
        transform: translate(0, 0);
    }
    25%, to {
        transform: translate(0, 26px);
    }
}
@keyframes ticket-move-down-12 {
    from, 11% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 26px);
    }
    50%, to {
        transform: translate(58.33px, 0);
    }
}
@keyframes ticket-move-down-13 {
    from, 13% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 26px);
    }
    50% {
        transform: translate(0, 0);
    }
}
@keyframes ticket-move-down-21 {
    from, 25% {
        transform: translate(0, 0);
    }
    50%, to {
        transform: translate(0, 26px);
    }
}
@keyframes ticket-move-down-22 {
    from, 29% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 26px);
    }
    75% {
        transform: translate(58.33px, 0);
    }
    to {
        transform: translate(58.33px, -26px);
    }
}
@keyframes ticket-move-down-23 {
    from, 32% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 26px);
    }
    75%, to {
        transform: translate(0, 0);
    }
}
div.app-loading {
    position: fixed;
    background-color: #333333;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 999999;
}
div.app-loading div.messaging {
    color: #FFFFFF;
    font-family: monospace;
    left: 0px;
    right: 0px;
    margin-top: -37px;
    position: absolute;
    text-align: center;
    top: 25%;
}
div.animated-logo {
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: #424242;
    display: flex;
    flex-direction: row;
}
div.animated-logo div.animated-logo-column {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #d0dae4;
    border-radius: 10px;
    top: 15px;
    height: 170px;
    width: 53.33px;
}
div.animated-logo div.animated-logo-column1 {
    margin-left: 15px;
}
div.animated-logo div.animated-logo-column2 {
    margin-left: 5px;
}
div.animated-logo div.animated-logo-column3 {
    margin-left: 5px;
}
div.animated-logo-ticket.ticket-done {
    animation-name: ticket-done;
}
div.animated-logo-ticket.ticket-enter {
    opacity: 0;
    animation-name: ticket-enter;
}
div.animated-logo-ticket.ticket-move-down-11 {
    animation-name: ticket-move-down-11;
}
div.animated-logo-ticket.ticket-move-down-12 {
    animation-name: ticket-move-down-12;
}
div.animated-logo-ticket.ticket-move-down-13 {
    animation-name: ticket-move-down-13;
}
div.animated-logo-ticket.ticket-move-down-21 {
    animation-name: ticket-move-down-21;
}
div.animated-logo-ticket.ticket-move-down-22 {
    animation-name: ticket-move-down-22;
}
div.animated-logo-ticket.ticket-move-down-23 {
    animation-name: ticket-move-down-23;
}
div.animated-logo-column div.animated-logo-ticket {
    margin-top: 6px;
    margin-left: 6px;
    height: 20px;
    width: 41px;
    border-radius: 7px;
    background-color: #009688;
    z-index: 1;
    animation-delay: 0s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.42, 0, 0.57999, 1);
}
